<font size='10' style="color:blue"><b> Customer Transaction Prediction </b> </font>

Fuente de datos:
https://www.kaggle.com/datasets/lakshmi25npathi/santander-customer-transaction-prediction-dataset


Equipo de trabajo: 

    - Breitman, Zarina Madelaine   
    - Marinella, Santiago   
    - Navarro Quantín, Denise   
    - Ramos, Mateo

<font size='6' style="color: forestgreen"><b> Content </b> </font>
<a name="content"></a>
<br>


1. [Imports](#Imports)
<br>
<br>
2. [Data Saved](#Imports)
<br>
<br>

<font size='6' style="color:forestgreen"><b> Imports </b> </font>

<a name="Imports"></a>

[[ Back to Top ]](#content)

In [1]:
#========================================librerías para manipulación de datos===================================================
import pandas as pd
import numpy as np
#========================================================== Test split =========================================================
from sklearn.model_selection import StratifiedKFold

<font size='6' style="color:forestgreen"><b> Data Saved </b> </font>

<a name="Data Saved"></a>

[[ Back to Top ]](#content)

In [6]:
df=pd.read_csv("../train.csv", sep=",", index_col="ID_code")
df.head()

,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
ID_code,,,,,,,,,,,,,,,,,,,,,
train_0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,-4.9200,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
train_1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,3.1468,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
train_2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,-4.9193,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
train_3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,-5.8609,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
train_4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,6.2654,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

In [7]:
cols_float = df.select_dtypes(include=["float64"]).columns.tolist() #Guardamos columnas con float64
df[cols_float] = df[cols_float].apply(pd.to_numeric, downcast='float') #Reducimos la dimensionalidad 
df.dtypes #Imprimo resultado

target       int64
var_0      float32
var_1      float32
var_2      float32
var_3      float32
            ...
var_195    float32
var_196    float32
var_197    float32
var_198    float32
var_199    float32
Length: 201, dtype: object

In [8]:
df.to_pickle(r"C:\Users\Santiago\Downloads\train_reduce.pkl") #Guardamos el archivo en formato pkl

In [9]:
X=df.drop("target", axis=1) #Obtengo variables 
y=df["target"] #Guardo variable target

In [10]:
#Inicializo StratifiedKFold
skf = StratifiedKFold(n_splits=10,shuffle=False)
skf.get_n_splits(X, y)
print(skf)

StratifiedKFold(n_splits=10, random_state=None, shuffle=False)

In [18]:
contador=1 #inicializo contador
for train_index, test_index in skf.split(X, y): #genero for loop
    X_train=X.iloc[train_index] #Guardo variable X_train
    X_test=X.iloc[test_index]  #Guardo variable X_test
    y_train=y.iloc[train_index]  #Guardo variable y_train
    y_test=y.iloc[test_index] #Guardo variable y_test
    X_train.to_pickle(f"C:/Users/Santiago/Downloads/X_train{contador}.pkl") #Exporto variable X_train
    X_test.to_pickle(f"C:/Users/Santiago/Downloads/X_test{contador}.pkl") #Exporto variable X_test
    y_train.to_pickle(f"C:/Users/Santiago/Downloads/y_train{contador}.pkl") #Exporto variable y_train
    y_test.to_pickle(f"C:/Users/Santiago/Downloads/y_test{contador}.pkl") #Exporto variable y_test
    contador+=1